p {
    background-color: dodgerblue;
    color: salmon;
    font-size: 10px;
    border: 4px dotted maroon;
}



.text {
    background-color: blue;
}

.text-description {
    border: 5px solid greenyellow;
}

#paragraf {
    color: green;
}
.first {
 color: red;   
}

.first {
    color: aquamarine;
}
