.long {
    height: 2000px;
    width: 10px;
    background-color: aqua;
}

.main {
    height: 300px;
    width: 300px;

    background-color: grey;

    display: flex;
}

.block-1 {
    height: 100px;
    width: 100px;

    background-color: salmon;
}

.block-2 {
    height: 100px;
    width: 100px;

    background-color: dodgerblue;
}

h1 {
    font-family: sans-serif;
    font-size: 2em;
    background-color: rgba(255, 0, 0, 1);
    color: #fff;
    border: 5px dashed black;
    font-weight: 400;
}

h1:hover {
    background-color: black;
}